In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

## **Import Dataset**

In [3]:
df = pd.read_csv('data/sales.csv')
df.head()

,transactions_id,sale_date,sale_time,customer_id,gender,age,category,quantiy,price_per_unit,cogs,total_sale
0,180,2022-11-05,10:47:00,117,Male,41.0,Clothing,3.0,300.0,129.0,900.0
1,522,2022-07-09,11:00:00,52,Male,46.0,Beauty,3.0,500.0,145.0,1500.0
2,559,2022-12-12,10:48:00,5,Female,40.0,Clothing,4.0,300.0,84.0,1200.0
3,1180,2022-01-06,08:53:00,85,Male,41.0,Clothing,3.0,300.0,129.0,900.0
4,1522,2022-11-14,08:35:00,48,Male,46.0,Beauty,3.0,500.0,235.0,1500.0

## Explatory Data Analysis

In [4]:
df.shape

(2000, 11)

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   transactions_id  2000 non-null   int64
 1   sale_date        2000 non-null   object
 2   sale_time        2000 non-null   object
 3   customer_id      2000 non-null   int64
 4   gender           2000 non-null   object
 5   age              1990 non-null   float64
 6   category         2000 non-null   object
 7   quantiy          1997 non-null   float64
 8   price_per_unit   1997 non-null   float64
 9   cogs             1997 non-null   float64
 10  total_sale       1997 non-null   float64
dtypes: float64(5), int64(2), object(4)
memory usage: 172.0+ KB

## Types of variables  

In this section, I separate the dataset into categorical and numerical variables.

In [6]:
# find categorical variables

categorical = [var for var in df.columns if df[var].dtype=='O']

print('There are {} categorical variables\n'.format(len(categorical)))

print('The categorical variables are :', categorical)

There are 4 categorical variables

The categorical variables are : ['sale_date', 'sale_time', 'gender', 'category']

In [7]:
df_categorical = df[categorical]
df_categorical.head()

    sale_date sale_time  gender  category
0  2022-11-05  10:47:00    Male  Clothing
1  2022-07-09  11:00:00    Male    Beauty
2  2022-12-12  10:48:00  Female  Clothing
3  2022-01-06  08:53:00    Male  Clothing
4  2022-11-14  08:35:00    Male    Beauty